.top-rated-book-image {
  height: 40vh;
  width: 20vw;
  border-radius: 10px;
}
@media screen and (max-width: 787px) {
  .top-rated-book-image {
    max-height: 20vh;
    width: 25vw;
    margin-top: 5px;
    align-items: center;
  }
}

.top-rated-card-btn {
  background-color: #ffffff;
  border: 0px;

  padding: 10px;
}

.top-rated-book-name {
  font-size: 15px;
  font-family: inter;
}
